.cuadro {
    width: 100%;           
    height: 330px;          
    background: rgb(59 223 147); 
    border: 1px solid #f1efef; 
    border-radius: 12px;
  }

  .task-card-image{
    position:absolute;
    top: 32%;
    left:27%;
    width: 108px;
    height: 100px;
  }

  .close{

    background: none;
    border: none;
    position: absolute;
    top: 26%;
    right: 31%;
  }

  .task-card-title{
    position:absolute;
    top: 62%;
    left:27%;
    line-height: 168%;
    font-size: 25pt;
    color: white;
  }

  .task-card-subtitle{
    position:absolute;
    top: 78%;
    left:27%;
  color: white;
  opacity: 0.7;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25;
  letter-spacing: -0.02em;
  }