.cuadro {
    width: 100%;           
    height: 33%;          
    background: rgb(59 223 147); 
    border: 1px solid #f1efef; 
    border-radius: 12px;
  }

  .task-card-image{
    position:absolute;
    top: 18%;
    left:26%;
    width: 108px;
    height: 100px;
  }

  .close{
    background: none;
    border: none;
    position: relative;
    left:92%;
    top:5%
  }

  .task-card-title{
    position:relative;
    top: 25%;
    left:6%;
    line-height: 168%;
    font-size: 25pt;
    color: white;
  }

  .task-card-subtitle{
    position:absolute;
    top: 44%;
    left:26%;
  color: white;
  opacity: 0.7;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25;
  letter-spacing: -0.02em;
  }

  .task-card-action{
  display: block;
  border-radius: var(--radius);
  padding: var(--su-5) var(--su-5);
  margin-top: var(--su-4);
  font-weight: var(--fw-bold);
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  letter-spacing: -0.02em;
  color: var(--base-inverted);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius);
    background-color: rgba(255,255,255,0.2);
  }

  .placeDiv{
    position:relative;
    top:20%;
    background: transparent;
    margin: auto;
    width: 97%;
    padding: 42px;
  }

  .task-card-link{
    display: block;
    border-radius: var(--radius);
    padding: var(--su-5) var(--su-5);
    margin-top: var(--su-4);
    font-weight: var(--fw-bold);
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    letter-spacing: -0.02em;
    color: var(--base-inverted);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newLi{
border-radius: var(--radius);
background-color: rgba(255,255,255,0.2);
list-style:none;
}