body {
    height: 1700px;
    background-image: url("http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcRr6RbZEqrVWwSeuLVXS5JWhOV97XL7v1YVcoTE6EsvG0KEwNctuF5lS2tKnqLybNAc99Ih8FDMYM96JME");
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: 50 rem;
  }


    .container {
      text-align: center;
      color: black;
      font-weight: bold;
      font: 150% sans-serif;
    }

    .lead{
      color:blue;
      font-weight: bold;
      font: 150% sans-serif;
    }