
/*Aqui va el header*/

.site-logo__img{
  position: relative;
  left: 40px;  
	max-width: 50%;
    width: auto;
    height: 2%;
    vertical-align: middle;
    display: inline-block;
    outline: 0;
}

.move_toleft{
  position: relative;
  left: 50%;
}

/*aqui inicia el main*/


.columna1{
	
float:left;
width:25%;
border:1px solid blue;
text-align:center;

}

.columna2{
	
float:left;
width:50%;
border:1px solid blue;
text-align:center;

}

.columna3{
	
float:left;
width:25%;
border:1px solid blue;
text-align:center;

}


@media (min-width: 1024px) {
    .crayons-layout--3-cols--drop-right-left {
        --layout-sidebar-right-display: block;
        --layout-sidebar-right-width: 1fr;
        --layout-sidebar-left-width: 240px
    }
}


@media (max-width: 780px) {
.columna {float:none;width:100%;}

}


.contener{
	margin-top:2%;
}

.contener columna:first-child {
  width: 100px;
}
.contener columna:nth-child(2) {
  width: 100px;
}
table td:nth-child(3) {
  width: 200px;
}
table td:last-child {
  width: 150px;
}


.white{
	background-color:white;
	
}


.contenedor {
                display: flex;
                height: 500px;
                width: 100%;
                background: white;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
}


.left2{
	position:relative;
	left:-1%;
}

.left3{
	position:relative;
	left:-40%;
}

.position_image_relative{
	position:relative;
	right:19%;
	border-radius: 10px;
}



.item {
   display: flex;
   background: white;
   width: 50vh;
   height: 24vw;
   align-items: center;
   justify-content: center;
}


.history_twitter {
border-style: groove;
border-color:#3c3c4c2b;
   height: 150px;
  width: 650px;
  position: relative;
  left: -38%;
      border-radius: 10px;
}

.history_twitter_top {
    margin-bottom: 0.5rem;
}


.history_twitter__meta {
    display: flex;
    align-items: center;
    line-height: 1.25;
    font-size: 0.875rem;
}


.twitter_story__title{
	color: white;
    line-height: 1.25;
    font-size: 1.875rem;
    overflow-wrap: break-word;
    overflow-wrap: anywhere;
    word-break: break-word;
	width: 428px;
}

.history_twitter__user_pic{
	position: relative;
    margin-right: 0.5rem;;
}

.user_logo{
	width: 2rem;
    height: 2rem;
}

.user_logo__image::after{
	    border-radius: 0.375rem;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: bottom;
}

.user_logo_image_fixed{
	display: inline-block;
    border-radius: 30%;
    position: relative;
	bottom:20%;
    background-color:blue;
    width: 50%;
    height: 30%;
    overflow: hidden;
    vertical-align: middle;
    flex-shrink: 0;
	
}

.user_avatar__image{
	 border-radius: 100%;
    width: 25%;
    height: 100%;
    display: inline-block;
    vertical-align: bottom;
	position:relative;
	left:-16%;
}

.history_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25;
}

.history_details{
    display: flex;
    margin-left: -0.5rem ;
}

a {
    color: #000102;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
/*section 2*/
.item2{
	display: flex;
    background: transparent;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}

.cuadro {
    width: 100%;           
    height: 100%;          
    background: rgb(59 223 147); 
    border: 1px solid transparent; 
    border-radius: 12px;
  }

.image{
    position:relative;
    left:5%; 
    bottom: -15px;
    width: 100px; 
    height: 70px;
  }

.close{
    background: none;
    border: none;
    position: relative;
    left:-4%;
    top:-23%
  }
  
    .task-card-title{
    position: relative;
    top: 0%;
    left: 5%;
    line-height: 102%;
    font-size: 29pt;
    color: white;
  }

  .task-card-subtitle{
    color: white;
    opacity: 0.7;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 0.25;
    letter-spacing: -0.02em;
    position: relative;
    left: 6%;
	top:-4%;
  }

  .placeDiv{
    position: relative;
    top: -7%;
    left: -3%;
    background: transparent;
    margin: auto;
    width: 100%;
    padding:4px;
  }
  
  .task-card-link{
    display: block;
    border-radius: 0.375rem;
    padding: 2%;
    margin-top: 3%;
    font-weight: bold;
    font-size: 116%;
    line-height: 13%;
    letter-spacing: -0.02em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newLi{
border-radius: 0.375rem;
background-color: rgba(255,255,255,0.2);
list-style:none;
}


.post2{
	margin-top:2%;
}


.listDots{
list-style: none;

}

.lista{
border-style: groove;
border-color:#3c3c4c2b;
border-radius: 10px;
}

.listings{
	border-style: groove;
border-color:#3c3c4c2b;
    color: black;
      border-radius: 10px;
}

.listings_card__header{
	    padding: 0.75rem 1rem;
    border-bottom: 1px solid rgb(245, 245, 245);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listings_subtitle{
	font-size:1.25rem;
	font-weight:bold;
}
.listings-link {
	    color: rgba(64,64,64,1);
}

.listings-link-content{
	    display: block;
    padding: 1 rem;
    border-bottom: 1px solid rgb(245, 245, 245);
}

.listings-link-content2{
	display: block;
    padding: 1 rem;
    border-bottom: 1px solid rgb(245, 245, 245);
	text-align: center;
	font-weight:bold;

}

.listings-link__secondary{
	color: #717171;
    font-size: 0.875rem;
    padding-top: 0.25rem;
}

.see_all{
    color: blue;
    text-decoration: none;
	font-weight: bold;
}


/*Aqui va el footer*/
.footer-basic {
  padding:40px 0;
  background-color:#cfd7ff;
  color:blue;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .maquetado{
	color:white;
	text-align:center;
	font-size:300%;
	 font-weight: bold;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
